<%= simple_form_for@product do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <%end%>
  
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: ["footwear", "accessories", "menswear", "womenswear"] %>
  </div>

  <%= f.label "Picture" %>
    <%= f.file_field :picture %>
    <div class="actions">
    </div>
    <div class="actions">
    <%= f.submit %>
    </div>
  <%= link_to 'Back', products_path %>

<%end%>