<p id="notice"><%= notice %></p>

<div class="container">

<h1>Products</h1>
    <div class="card-deck">
    <% @products.each do |product| %>
        <div class="card mb-4" style="min-width: 18rem;">
          <% if product.image_url %>
            <%= image_tag product.image_url %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.title %>
            <h6 class="card-subtitle mb-2 text-muted"><%= product.description %>
            <p class="card-text mt-2"><%= product.price %>
            <p class="card-text"><small class="text-muted"><%= product.category %>
            <%= link_to 'Show', product_path(product), method: :show %></td>
            <%= link_to 'Edit', edit_product_path(product), method: :edit %></td>
            <%= button_to 'Destroy', product_path(product), :method => :delete %></td>
          </div>
        </div>
    <% end %>
    </div>
</div>

<%= link_to "New Product", new_product_path, method: :get %>


