<main>

<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<button data-stripe="payment", class="btn btn-sm btn-outline-secondary">Proceed To Payment</button>

<div class="card mb-4" style="max-width: 25rem;">
<% if @product.image_url %>
  <%= image_tag @product.image_url %>
<% end %>
</div>

<br>

<%= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>

</main>


<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
